<form #form="ngForm">
  <label for="nome"
    >Nome:
    <input type="text" name="nome" ngModel />
  </label>
  <br />
  <br />

  <label for="sexo"
    >Masculino:
    <input type="radio" name="sexo" value="Masculino" ngModel />
  </label>
  <br />
  <br />

  <label for="sexo"
    >Feminino:
    <input type="radio" name="sexo" value="Feminino" ngModel />
  </label>
  <br />
  <br />

  <label for="sexo"
    >Masculino:
    <input type="radio" name="sexo" value="Outros" ngModel />
  </label>
  <br />
  <br />
</form>

{{ form.value | json }}
