<h2>Interpolation</h2>
<p>{{ nome }} tem {{ idade }} anos.</p>
<p>{{ nome }}, tem mais de 26 anos?</p>
<p>{{ idade > 26 }}</p>
<p>Quanto é {{ idade }} + {{ maisUm }}?</p>
<p>{{ idade + maisUm }}</p>

<hr />

<h2>Property Binding</h2>

<button [disabled]="checkedDisabled">Button</button>
<br /><br />
<img [src]="imgSrc" [title]="imgTitle" />

<br />
<br />
<hr />
<h2>Event Binding</h2>
<button (click)="alertaInfo($event)">Evento</button>
<div
  style="background: red; width: 300px; height: 300px"
  (mousemove)="mouseMouveTeste($event)"
></div>
{{ position.x }} - {{ position.y }}
<br />
<br />
<hr />
<h2>Two-way binding</h2>
<input type="text" [(ngModel)]="nome" />
{{ nome }}
