<!-- <ng-content select="h1"></ng-content>
<div *ngIf="nome != 'Igor'">
  <p [ngClass]="{ active: valor, disable: !valor }">NgClass</p>
  <p [ngStyle]="{ height, background: backgroundColor }">NgStyle</p>
</div>
<hr />

<input type="text" [(ngModel)]="nome" />
<button (click)="salvar()">Salver</button>
<ul>
  <li *ngFor="let item of list">{{ item.nome }}</li>
</ul>
<hr />
<ng-template ngFor let-item [ngForOf]="list">
  <p>{{ item.nome }}</p>
</ng-template>

<input type="text" [(ngModel)]="nome" />
<button (click)="salvar()">Salver</button>

<ng-content select="hr"></ng-content> -->

<!-- <input type="text" [(ngModel)]="nome" />
<button (click)="salvar()">Salver</button>
<ul>
  <li *ngFor="let item of list">{{ item.nome | uppercase }}</li>
</ul>
<hr /> -->
{{ date | date : "dd/MM/yyyy" }}
