<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/characters/all" class="nav-link" routerLinkActive="active"
        >All</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/characters/light"
        class="nav-link"
        routerLinkActive="active"
        >Light</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/characters/dark"
        class="nav-link"
        routerLinkActive="active"
        >Dark</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
