<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <app-seletor-passageiro
        titulo="Adulto"
        subtitulo="(Acima de 12 anos)"
        [formControl]="formBuscaService.obterControle('adultos')"
      ></app-seletor-passageiro>
      <app-seletor-passageiro
        titulo="Crianças"
        subtitulo="(Entre 2 e 11 anos)"
        [formControl]="formBuscaService.obterControle('criancas')"
      ></app-seletor-passageiro>
      <app-seletor-passageiro
        titulo="Bebês"
        subtitulo="(Até 2 anos)"
        [formControl]="formBuscaService.obterControle('bebes')"
      ></app-seletor-passageiro>
    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option
          value="Econômica"
          [selected]="
            formBuscaService.formBusca.get('tipo')?.value === 'Econômica'
          "
          (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')"
        >
          Econômica
        </mat-chip-option>
        <mat-chip-option
          value="Executiva"
          [selected]="
            formBuscaService.formBusca.get('tipo')?.value === 'Excecutiva'
          "
          (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')"
        >
          Executiva
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>BUSCAR</button>
  </div>
</section>
